*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: #ff9a4b;
}

main{
  width: 960px;
  margin: 50px auto;
}

.box{
  display: flex;
}

.item{
  width: 300px;
  background-color: #eee;
  padding: 10px;
  position:relative;
}

.item:first-child,
.item:nth-child(2){
  margin-right: 30px;
}

.img1{
  width: 280px;
  height: 150px;
  background-image: url(chapter9_exercise/img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.img2{
  width: 280px;
  height: 150px;
  background-image: url(chapter9_exercise/img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.img3{
  width: 280px;
  height: 150px;
  background-image: url(chapter9_exercise/img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

h3{
  margin: 15px 0 5px;
}

.step{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: white;
  position: absolute;
}

footer{
  width: 100%;
  height: 50px;
  margin-top: 50px;
  background-color: #aaa;
}

